.background{
    background-image: url(../images/pexels-anna-nekrashevich-6801648.jpg);
    background-size: cover;
    height: 100vh;
    /* opacity: 0.4; */
}
.main-info{
    height: 100%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.90);
    color: white;
}
.first-h{
    padding-top: 40vh;
}
.main-info h1{
    color: white;
}
.main-info p{
    color: white;
    font-size: 16px;
}

/* about section begains */
.home-about{
    margin-top: 96px;
    width: 100%;
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-about p{
    text-align: center;
}
.home-about-button{
    margin-top: 32px;
    width: 100%;
    /* padding-left: 10vw;
    padding-right: 10vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.read-more{
    padding: 16px 48px;
    border-radius: 4px;
    margin-right: 16px;
}
.our-service{
    border: 2px solid rgb(61, 128, 70);
    padding: 16px 48px;
    border-radius: 4px;
}
/* video start */
.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#playPauseBtn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

#playPauseBtn:focus {
    outline: none;
}
/* video end */

.free-links{
    margin-top: 96px;
    width: 100%;
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: rgb(207, 218, 209);
    flex-direction: column;
    align-items: center;
}
.free-links p{
    text-align: center;
}
.free-links-button{
    margin-top: 32px;
    width: 100%;
    /* padding-left: 10vw;
    padding-right: 10vw; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.yt-logo div{
    height: 80px;
    width: 80px;
    border-radius: 4px;
}
.home-social-button{
    margin-left: 16px;
}
.yt-logo a{
    width: 96px;
}
/* footer section  */
footer{
    background-color: #6B6B6B;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* color: #F5F5F5; */
}
ul{
    list-style: none;
}
/*li{
    margin-top: 32px;
} */
h4{
    margin-bottom: 8px;
}
.footer-info{
    width: 40%;
}
.footer-media a {
    height: 32px;
    width: 32px;
    display: inline-block;
    font-size: 24px;
}


/* .h4-f-nav{
    margin: 64px 10vw 0 10vw;
}
.footer-nav{
    margin: 8px 10vw 0 10vw;
}
.footer-nav div{
    width: 27vw;
    display: inline-block;
} */

/* for mobile view */

@media screen and (max-width:660px){
    .free-links-button{
        flex-direction: column;
    }
    .yt-logo{
        margin-bottom: 32px;
    }
    .home-about-button{
        flex-direction: column;
    }
    .home-about-button a{
        margin-bottom: 16px;
        width: 80vw;
    }
    .read-more{
        margin-right: 0;
    }
    footer{
        flex-direction: column;
    }
    /* footer div{

    } */
    .h4-f-nav{
        margin-left: 8px;
        margin-top: 32px;

    }
    .footer-info{
        padding-left: 8px;
        width: 100%;
    }
    .footer-nav{
        padding-left: 8px;
    }
    .footer-media a{
        margin-right: 4px;
    }
    h{
        font-size: 0.8rem;
    }
}